img {
    width: 25rem;
    height: 30rem;
}

button:hover {
    cursor: pointer;
    background: blue;
}

.background-overlay {
    background-image: url('Images/BgImage.jpg'); /* Ganti 'gambar.jpg' dengan URL atau path gambar Anda */
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh; /* Sesuaikan dengan kebutuhan Anda */
}

.background-overlay::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5); /* Sesuaikan kegelapan lapisan */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}