body {
  background-image: url("Images/Bg.jpg");
  background-size: cover;
  display: flex;
  /* background: linear-gradient(to Left, #000000, #17171a, #000000);
  color: #282828; */
}

.button:hover {
  cursor: pointer;
  color: rgb(4, 0, 255);
}

.h6 {
  text-decoration: none;
  color: white;
  animation-name: flip;
}

.Glowing-btn:hover {
  background: linear-gradient((to right, cornflowerblue, aqua, deeppink, cornflowerblue));
  background-size: 600% 600%;
  animation: gradient 20s linear infinite;
  filter: drop-shadow(0px 0px 30px cornflowerblue);
  font-weight: 400;
  text-shadow: 0px 0px 3px cornflowerblue;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 600% 50%;
  }
}

/* Media Queries */

/* Laptop */

@media (max-width: 1366px) {
  html {
    font-size: 95%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 75%;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 85%;
  }
}
